server/CoolIt_Service/Schema/Coolers.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dataPointType">
    <xs:sequence>
      <xs:element name="temp" type="xs:double" />
      <xs:element name="coolingPower" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coolerModel">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="ID" type="xs:positiveInteger" />
      <xs:element name="price" type="xs:nonNegativeInteger" />
      <xs:element name="priceUnit" type="xs:string" />
      <xs:element name="currencyUnit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dataPoint" type="dataPointType">
        <xs:annotation>
          <xs:documentation>Output cooling power in Watts.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="coolerModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="coolerModel" type="coolerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>