server/CoolIt_Service/Schema/SpecificPower.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="DataPointType">
        <xs:sequence>
            <xs:element name="temperature" type="xs:double" />
            <xs:element name="specificPower" type="xs:double" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="specificPowerData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dataPoint" type="DataPointType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>